<!doctype html>

<html>

    <head>
        {% include 'header.html' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='list-style.css') }}">
    </head>

    <body>
        <ul class="styled-list">
        {% for item in items %}
        <li> <a href={{ url_for('get_item', itemid=item.id) }}>
                <img src="{{url_for('static',filename = item.image)}}" alt="{{item.name}}" class="item-image">
            <span class="item-name">{{ item.name }}</span></a></li>
        {% endfor %}
        </ul>

        <div class="cart-button-container">
            <a href="{{url_for('show_cart')}}" class="cart-button">Go to Cart</a>
        </div>
    </body>

</html>
